<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

"In this notebook, We will provide a summary of Data Science tools and Ecosystem"

**Objectives:**

- Popular languages in Data Science 
- Commonly used libraries by Data scientists 
- Data Science Tools 
- Simple Arithmetic Expression
- Converting hours to minutes


Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Java
5. C/C++

Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Numpy
3. SciPy
4. Scikit-learn
5. TensorFlow
6. Keras

Data Science Tools

| Heading           |
|-------------------|
| Tableau           |
| Apache Spark      |
| Python            |
| Scikit-learn      |
| TensorFlow        |

### 
Below are a few examples of evaluating arithmetic expressions in Python

In [2]:

#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

total_minutes = 200

hours = total_minutes // 60
minutes = total_minutes % 60

time = "{}:{}".format(hours, minutes)

print(time)

3:20


## Author
Rithika M M